<div dialog-id="add-trade-box" class="hide">

    <form class="form-horizontal" role="form" form-id="add-trade-form" action="{:U('Baseinfo/addtrade')}" method="post">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">分类名称：</label>

            <div class="col-sm-9">
                <input type="text" name="category_name" id="form-field-1" placeholder="输入分类名称" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">分类描述：</label>

            <div class="col-sm-9">
                <textarea class="col-xs-10" rows="3" name="category_desc"></textarea>
            </div>
        </div>

        <div class="space-4"></div>
        
    </form>
</div>