<div dialog-id="viewFloor" tag-id="floor-view" class="hide">
	<div tag-id="setup-1">
		<div class="form-group floor-view">
			<div class="head-left">
				<span>商户名称：<span tag-id="hotel-name">-</span></span>
			</div>
			<div class="head-right">
				<span>商户ID：<span tag-id="hotel-code">0</span></span>
			</div>
		</div>
		<div class="form-group" style="padding-top:30px;">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr class="tr-center">
						<th>楼层名称</th>
						<th>房间数</th>
					</tr>
				</thead>

				<tbody tag-id="view-list">
						<tr>
							<td colspan="2" style="text-align:center;">暂无楼层信息！</td>
						</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group floor-view">
			<div class="head-right">
				<span>总计：<span tag-id="room-number">0</span> 间</span>
			</div>
		</div>
	</div>
</div>